@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
@import "../../assets/scss/variables.scss";

.footer {
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  a {
    color: $bright;
    &:hover {
      color: $secondary;
    }
  }
}
