@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
@import "../../../assets/scss/variables.scss";

* {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login {
  align-items: center;
  min-height: 500px;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 2rem;

  form {
    background-color: $secondary;
    border-radius: 8px;
    flex-grow: 1;
    padding: 2em;
    max-width: 100%;

    #wrapper,
    label,
    #arrow,
    button span {
      transition: all 0.5s cubic-bezier(0.6, 0, 0.4, 1);
    }
    #wrapper {
      margin-top: 0.8rem;
    }
    .account {
      input {
        &[type="radio"] {
          display: none;
          &:checked + label {
            opacity: 1;
          }
        }
      }
      label {
        cursor: pointer;
        display: inline-block;
        font-weight: 800;
        opacity: 0.5;
        text-transform: uppercase;
        &:hover {
          transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
          opacity: 1;
        }
        &[for="signin"] {
          margin-right: 20px;
        }
        &[for="reset"] {
          float: right;
        }
      }
      button {
        background: $primary;
        border: none;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        height: 50px;
        width: 100%;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
        span {
          display: block;
          line-height: 72px;
          position: relative;
          top: -2px;
          transform: translate3d(0, 0, 0);
          a {
            color: #fff;
          }
        }
        &:hover {
          background: $dark;
        }
        &:disabled {
          background-color: $warm;
          cursor: not-allowed;
          &:hover {
            background-color: #dc143cAA;
          }
        }
      }

      #arrow {
        height: 0;
        width: 0;
        border-bottom: 10px solid #e8f0fe;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: relative;
        left: 32px;
      }
    }
    
  }
}

#wrapper {
  overflow: hidden;
}
#signin:checked ~ #wrapper {
  height: 220px;
}
#signin:checked ~ #wrapper #arrow {
  left: 8px;
}
#signin:checked ~ button span {
  transform: translate3d(0, -82px, 0);
}
#signup:checked ~ #wrapper {
  height: 280px;
}
#signup:checked ~ #wrapper #arrow {
  left: 94px;
}
#signup:checked ~ button span {
  transform: translate3d(0, -152px, 0);
}
#reset:checked ~ #wrapper {
  height: 110px;
}
#reset:checked ~ #wrapper #arrow {
  left: 90%;
  @media (min-width: 768px) {
    left: 95%;
  }
  @media (min-width: 1024px) {
    left: 93%;
  }
}
#reset:checked ~ button span {
  transform: translate3d(0, -10px, 0);
}
