<div class="title">
  <h1>List</h1>
</div>
<hr>

<div class="main">
  <form class="form-group" [formGroup]="formList" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row p-2 d-flex">
        <div class="input--control col-sm-9">
          <label for="newItem" class="form-label">Novo Item</label>
          <input type="hidden" formControlName="_id">
          <input type="hidden" formControlName="owner">
          <input type="text" class="form-control form-control-sm" formControlName="description"
            placeholder="descrição do item" id="newItem">
          <div class="input__feedback"></div>
        </div>

        <div class="input--control col-sm-3">
          <label for="priceItem" class="form-label">Preço Item</label>
          <input type="number" class="form-control form-control-sm" formControlName="price" placeholder="preço" min="0"
            max="99999999" id="priceItem">
          <div class="input__feedback"></div>
        </div>
      </div>
    </div>
    <div class="row m-2">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!formList.valid">Salvar</button>
      </div>
    </div>
  </form>

  <div class="list m-2">
    <div *ngFor="let item of itemList; let i=index;">
      <div class="list--item">

        <div class="list--item__check" (click)="changeStatus(i,done)">
          <input type="checkbox" [checked]="item.done" #done>
          <i class="icon-item" [ngClass]="{'fas fa-check-square': done.checked, 'far fa-square': !done.checked}"></i>
        </div>

        <div class="list--item__description" (click)="changeStatus(i,done)">
          <p class="text text-uppercase" title="{{item.description}}">{{item.description}}</p>
        </div>

        <div class="list--item__price price">
          <p>R$ {{item.price}}</p>
        </div>

        <div class="list--item__action">
          <i class="far fa-edit" (click)="editItemList(i)"></i>
          <i class="far fa-trash-alt" (click)="deleteItemList(i)"></i>
        </div>

      </div>
      <hr>
      
      <ng-template #noItems>
        <div>
          <h1>Nenhum item adicionado</h1>
        </div>
      </ng-template>
    </div>
  </div>

</div>

<div class="new-item">
  <button class="btn btn-primary">
    <i class="fas fa-plus"></i>
  </button>
</div>