@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
@import "../../../assets/scss/variables.scss";

.title {
  font-family: Raleway, sans-serif;
  color: $bright;
}

.main {
  background-color: $secondary;
  border-radius: 8px;
  position: relative;
  padding: .4rem;

  .list {
    border: 2px solid $primary;
    border-radius: 8px;
    padding: 0.4rem;
    overflow-x: hidden;
    overflow: auto;
    max-height: 30rem;

    &--item {
      display: grid;
      grid-template-columns: 0.5fr 5fr 1fr 1fr;

      @media screen and (max-width: 426px) {
        grid-template-columns: 0.5fr 2fr 1fr 1fr;
      }

      &__check {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__action {
        @extend .list--item__check;
        justify-content: space-evenly;

        .fa-edit {
          color: $warm;
        }
        .fa-trash-alt {
          color: $danger;
        }
      }
      &__description {
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__description,
      &__price {
        &.price {
          display: flex;
          justify-content: flex-end;
        }
        p {
          margin-bottom: 0;

          @media screen and (max-width: 768px) {
            font-size: 0.6rem;
          }
        }
      }
      i {
        cursor: pointer;
      }
      hr {
        color: lightsalmon;
        width: 100%;
        height: 2px;
        margin: 0;
      }
      input[type="checkbox"] {
        display: none;
      }
    }
  }
}

.new-item {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  button {
    border-radius: 100%;
    background-color: $secondary;
    i {
      color: $primary;
    }
  }
}
