@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
@import "../../../assets/scss/variables.scss";

.title {
  font-family: Raleway, sans-serif;
  color: $bright;
}

.body-list {
  background-color: $secondary;
  border-radius: 8px;
  padding: 1.2rem 0;

  .add-item {
    display: flex;
    padding: 0;
  }
}

.new-item {
  position: absolute;
  bottom: 60px;
  right: 25px;
  button {
    border-radius: 100%;
    background-color: $secondary;
    i {
      color: $primary;
    }
  }
}

@media only screen and (max-width: 375px) {
  input {
    &[type="text"] {
      width: 14em;
    }
    &[type="number"] {
      width: 8em;
    }
  }
}
