@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
@import "../../../assets/scss/variables.scss";

.title {
  font-family: Raleway, sans-serif;
  color: $bright;
}

.body-list {
  background-color: #ccf381;
  border-radius: 8px;
  padding: 1.2rem;
}