<form #formS="ngForm" (ngSubmit)="onSubmit()">
    <div class="account">
        <input checked id="signin" name="action" type="radio" value="signIn" [(ngModel)]="action">
        <label for="signin">Sign in</label>

        <input id="signup" name="action" type="radio" value="signUp" [(ngModel)]="action">
        <label for="signup">Sign up</label>

        <input id="reset" name="action" type="radio" value="reset" [(ngModel)]="action">
        <label for="reset">Reset</label>

        <div id="wrapper">
            <div id="arrow"></div>
            <input id="email" placeholder="email" type="text" [(ngModel)]="email" name="email">
            <input id="pass" placeholder="password" type="password" [(ngModel)]="password" name="password">
            <input id="respass" placeholder="confirm password" type="password">
        </div>

        <button type="submit" [value]="action">
            <span>
                <a>reset password</a>
                <br>
                <a>sign in</a>
                <br>
                <a>sign up</a>
            </span>
        </button>
    </div>

    <div>
        {{action}}
        {{email}}
        {{password}}
    </div>
</form>