@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
@import "../../../assets/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  font-family: Raleway, sans-serif;
  color: $bright;
}
.profile {
  background-color: #ccf381;
  border-radius: 8px;
  padding: 0.8rem;

  label {
    font-family: Raleway, sans-serif;
    font-size: 0.8rem;
  }
  input {
    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="number"] {
      background: $bright;
      border: none;
      border-radius: 8px;
      height: 52px;
      width: 100%;
      opacity: 1;
      text-indent: 20px;
      transition: all 0.2s ease-in-out;
      font-size: 1.4rem;
    }
  }
  button {
    background-color: $warm;
    &.btn-dark {
      background: $primary;
    }
    border: none;
    border-radius: 8px;
    color: $bright;
    cursor: pointer;
    height: 52px;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
    margin-top: 12px;
    span {
      display: block;
      line-height: 72px;
      position: relative;
      top: -2px;
      transform: translate3d(0, 0, 0);
      a {
        color: $bright;
      }
    }
    &:hover {
      // background: $dark;
    }
    input {
      background: none;
      border: none;
      color: $bright;
    }
    &:disabled {
      background-color: crimson;
      cursor: not-allowed;
    }
  }
}
