<form class="form-group">
  <div class="container profile">

    <div class="row flex-column">

      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6 p-2">
          <label class="form-label" for="firstname">first name</label>
          <input class="form-control form-control-sm" type="text" id="firstname">
        </div>

        <div class="col-sm-12 col-md-6 col-xl-6 p-2">
          <label class="form-label" for="lastname">last name</label>
          <input class="form-control form-control-sm" type="text" id="lastname">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6 p-2">
          <label class="form-label" for="username">username</label>
          <input class="form-control form-control-sm" type="text" id="username">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6 p-2">
          <label class="form-label" for="password">password</label>
          <input class="form-control form-control-sm" type="text" id="password">
        </div>

        <div class="col-sm-12 col-md-6 col-xl-6 p-2">
          <label class="form-label" for="confirm_password">confirm password</label>
          <input class="form-control form-control-sm" type="text" id="confirm_password">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-8 p-2">
          <label class="form-label" for="email">e-mail</label>
          <input class="form-control form-control-sm" type="text" id="email">
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4 p-2">
          <label class="form-label" for="phone">phone</label>
          <input class="form-control form-control-sm" type="text" id="phone">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 p-2">
          <button class="btn btn-dark btn-block">Save</button>
        </div>
        <div class="col-sm-12 p-2">
          <button class="btn btn-secondary btn-block">Cancel</button>
        </div>

      </div>

    </div>
  </div>
</form>

<!-- firstName, -->
<!-- lastName, -->
<!-- username, -->
<!-- password, -->
<!-- email, -->
<!-- phone, -->