@import "assets/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert {
  border: 0.1rem solid transparent;
  border-radius: 8px;
  font-size: 0.8rem;
  margin-bottom: -1rem;
  margin-top: 0.2rem;
  padding: 0.1rem 0.5rem;
}

.has-error,
.has-feedback {
  input {
    border: 3px solid red;
  }
}

input {
  &[type="text"],
  &[type="email"],
  &[type="number"],
  &[type="password"] {
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: Raleway, sans-serif;
    height: 72px;
    margin-bottom: 10px;
    opacity: 1;
    text-indent: 10px;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $placeholder-color;
    }
    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }
    &::-moz-placeholder {
      color: $placeholder-color;
    }
    &:-moz-placeholder {
      color: $placeholder-color;
    }
    &::-ms-input-placeholder {
      color: $placeholder-color;
    }
  }
}
