@import "assets/scss/variables.scss";
body {
  background: $primary;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alert {
  border: 0.1rem solid transparent;
  border-radius: 8px;
  font-size: 0.8rem;
  margin-bottom: -1rem;
  margin-top: 0.2rem;
  padding: 0.1rem 0.5rem;
}

.has-error,
.has-feedback {
  input {
    border: 3px solid red;
  }
}
