<div class="title">
  <h1>Menu</h1>
</div>
<div class="row" style="border: 3px solid lime;">
  <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center card-item">
    <div class="card border-light card-menu">
      <div class="card-header">
        <i class="fas fa-suitcase-rolling"></i>
        <span class="card-title">Trip List</span>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit est repellat
          repellendus incidunt commodi enim nihil.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center card-item">
    <div class="card border-light card-menu">
      <div class="card-header">
        <i class="fas fa-tshirt"></i>
        <span class="card-title">Shopping List</span>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit est repellat
          repellendus incidunt commodi enim nihil.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center card-item">
    <div class="card border-light card-menu">
      <div class="card-header">
        <i class="fas fa-shopping-cart"></i>
        <span class="card-title">Market List</span>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit est repellat
          repellendus incidunt commodi enim nihil.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center card-item">
    <div class="card border-light card-menu">
      <div class="card-header">
        <i class="fab fa-amazon"></i>
        <span class="card-title">Amazon List</span>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit est repellat
          repellendus incidunt commodi enim nihil.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center card-item">
    <div class="card border-light card-menu">
      <div class="card-header">
        <i class="fas fa-toilet"></i>
        <span class="card-title">Toilet List</span>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit est repellat
          repellendus incidunt commodi enim nihil.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center card-item">
    <div class="card border-light card-menu">
      <div class="card-header">
        <i class="fas fa-film"></i>
        <span class="card-title">Movies List</span>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit est repellat
          repellendus incidunt commodi enim nihil.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center card-item">
    <div class="card border-light card-menu">
      <div class="card-header">
        <i class="fas fa-book"></i>
        <span class="card-title">Movies List</span>
      </div>
      <div class="card-body">
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate suscipit est repellat
          repellendus incidunt commodi enim nihil.</p>
      </div>
    </div>
  </div>
</div>